ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #246164; /* Background color for the navbar */
    padding-left: 10px;
}

.search-container {
    float: left;
    margin: 10px;
}

img {
    float: left;
    padding-top: 5px;
}

.home-content {
    height: auto;
    width: 1200px;
}

input[type=text] {
    padding: 8px;
    margin: 2px;
    box-sizing: border-box;

}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #ddd; /* Change the background color on hover */
    color: black;
}

.navbar-bg {
    background-color: #283b41;
}

.Honkai {
    position: absolute;
    top: 50%; /* Adjust as needed */
    right: 100px; /* Adjust the space between the div and the right border */
    transform: translateY(-50%); /* Center the div vertically */
    background-color: #283b41; /* Set a background color for visibility */
    border: 2px solid #208c8c;
    
    padding: 10px; /* Adjust padding as needed */
    
    align-items: center;
}

.Genshin {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 100px; /* Adjust the space between the div and the right border */
    transform: translateY(-50%); /* Center the div vertically */
    background-color: #283b41; /* Set a background color for visibility */
    border: 2px solid #208c8c;
    
    padding: 10px; /* Adjust padding as needed */
    
    align-items: center;
}

.Impact {
    position: absolute;
    top: 50%; /* Adjust as needed */
    
    left: 480px;
    transform: translateY(-50%); /* Center the div vertically */
    background-color: #283b41; /* Set a background color for visibility */
    border: 2px solid #208c8c;
    
    padding: 10px; /* Adjust padding as needed */
    
    align-items: center;
}

.Honkai, .Genshin, .Impact {
    top: 330px;
}
